{namespace neos=TYPO3\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>



	<script>
		<![CDATA[
        initializeMap = function() {
			var myLatlng = new google.maps.LatLng(]]>{longitude}<![CDATA[,]]>{latitude}<![CDATA[);
			var mapOptions = {
				zoom: ]]>{zoomlevel}<![CDATA[,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				panControl: false,
				rotateControl: false,
				scrollwheel: false,
				scaleControl: false
			}

			var styles = [
				{
					featureType: "all",
					stylers: [
						{ saturation: -100 }
					]
				},{
					featureType: "poi.business",
					elementType: "labels",
					stylers: [
						{ visibility: "off" }
					]
				}
			];
			// Create a new StyledMapType object, passing it the array of styles,
			// as well as the name to be displayed on the map type control.
			var styledMap = new google.maps.StyledMapType(styles,
					{name: "Styled Map"});

			var map = new google.maps.Map(document.getElementById('axovis-map-canvas'), mapOptions);

			//Associate the styled map with the MapTypeId and set it to display.
			map.mapTypes.set('map_style', styledMap);
			map.setMapTypeId('map_style');

			var contentString = '<div id="content" style="height: ]]>{popupHeight}<![CDATA[; width: ]]>{popupWidth}<![CDATA[">'+
					'<div id="site-notice">'+
					'</div>'+
					'<h4 id="first-heading" class="firstHeading">]]>{infoheadl}<![CDATA[</h4>'+
					'<div id="body-content">'+
					'<p>]]> <f:format.raw>{infotext}</f:format.raw> <![CDATA[</p>'+
					'</div>'+
					'</div>';

			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});

			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: 'InspiringFlow'
			});

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map,marker);
			});
		}
		]]>
	</script>

	<div id="axovis-map-canvas" style="height: {height}; width: {width}">
	</div>
</div>

<f:section name="bodyJavascript">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            if (typeof initializeMap === 'function') {
                initializeMap();

                if (typeof document.addEventListener === 'function') {
                    document.addEventListener('Neos.PageLoaded', function() {
                        initializeMap();
                    }, false);
                }
            }
        });
    </script>
</f:section>